<!DOCTYPE HTML>
<html>
	<head>
		<title>Cryptocurrency</title>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
		<link rel="stylesheet" href="{{ url_for('static', filename='assets/css/main.css') }}" />
		<noscript><link rel="stylesheet" href="{{ url_for('static', filename='assets/css/noscript.css') }}" /></noscript>
	</head>
	<body class="is-preload">
			<div id="page-wrapper">
					<header id="header">
						<h1>Cryptocurrency</h1>
						<nav>
							<a href="#menu">Menu</a>
						</nav>
          </header>
                    
					<nav id="menu">
						<div class="inner">
							<h2>Menu</h2>
							<ul class="links">
								<li><a href="{{ url_for('start_page')}}">Home</a></li>
								<li><a href="{{ url_for('stock')}}">Price</a></li>
								<li><a href="{{ url_for('services')}}">My Account</a></li>
								<li><a href="{{ url_for('index')}}">Chart</a></li>
								<li><a href="{{ url_for('login')}}">Log In</a></li>
								<li><a href="#">Sign Up</a></li>
							</ul>
							<a href="#" class="close">Close</a>
						</div>
                    </nav>
                    
					<section id="wrapper">
						<header>
							<div class="inner">
                                <h2>My Account</h2><br>
							</div>
                        </header>
                    
                        <div class="wrapper">
                            <div class="inner">
						        <section>
                                    <h3 class="major">Transaction History</h3> 
							        <!-- <div class="table-wrapper">
								        <table>
									        <tbody>
										        <tr>
											        <td>Transaction Type </td>
											        <td>{{ type }}</td>
										        </tr>
										        <tr>
											        <td>Amount </td>
											        <td>{{ am }}</td>
                                                </tr>
                                                <tr>
											        <td>Receiver</td>
											        <td>{{ receive }}</td>
										        </tr>
                                           </tbody>                           
										</table>
                                    </div> -->
                                    <div class="table-wrapper">
                                        <table>
                                            <thead>
                                                <tr>
                                                    <th>Transaction Type</th>
                                                    <th>Amount</th>
                                                    <th>Receiver</th>
                                                    <th>Recipient</th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                <tr>
                                                    <td>{{ type }}</td>
                                                    <td>{{ am }}</td>
                                                    <td>{{ receive }}</td>
                                                    <td>{{ email }}</td>
                                                </tr>
                                                <tr>
                                                    <td>{{ type1 }}</td>
                                                    <td>{{ am1 }}</td>
                                                    <td>{{ receive1 }}</td>
                                                    <td>{{ email1 }}</td>
                                                </tr>
                                                <tr>
                                                    <td>{{ type2 }}</td>
                                                    <td> {{ am2 }}</td>
                                                    <td>{{ receive2 }}</td>
                                                    <td>{{ email2 }}</td>
                                                </tr>
                                                <tr>
                                                    <td>{{ type3 }}</td>
                                                    <td>{{ am3 }}</td>
                                                    <td>{{ receive3 }}</td>
                                                    <td>{{ email3 }}</td>
                                                </tr>
                                            </tbody>
                                        </table>
                                        <a href="{{ url_for('services')}}">Back</a>
                                    </div>
                                    

                                </section>
                            </div>
                        </div>
                    </section>



			<script src="{{ url_for('static', filename='assets/js/jquery.min.js') }}"></script>
			<script src="{{ url_for('static', filename='assets/js/jquery.scrollex.min.js') }}"></script>
			<script src="{{ url_for('static', filename='assets/js/browser.min.js') }}"></script>
			<script src="{{ url_for('static', filename='assets/js/breakpoints.min.js') }}"></script>
			<script src="{{ url_for('static', filename='assets/js/util.js') }}"></script>
			<script src="{{ url_for('static', filename='assets/js/main.js') }}"></script>

	</body>
</html>



