<html>
    <head>
      <title>Cryptocurrency</title>
      <meta charset="utf-8" />
      <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
      <link rel="stylesheet" href="{{ url_for('static', filename='assets/css/main.css') }}" />
      <noscript><link rel="stylesheet" href="{{ url_for('static', filename='assets/css/noscript.css') }}" /></noscript>
    </head>
  
    <body class="is-preload">
			<div id="page-wrapper">
					<header id="header" class="alt">
						<h1>Cryptocurrency</h1>
						<nav>
							<a href="#menu">Menu</a>
						</nav>
					</header>
					<nav id="menu">
						<div class="inner">
							<h2>Menu</h2>
							<ul class="links">
								<li><a href="{{ url_for('start_page')}}">Home</a></li>
								<li><a href="{{ url_for('stock')}}">Price</a></li>
								<li><a href="{{ url_for('services')}}">My Account</a></li>
								<li><a href="{{ url_for('login')}}">Log In</a></li>
								<li><a href="{{ url_for('index')}}">Chart</a></li>
								<li><a href="#">Sign Up</a></li>
							</ul>
							<a href="#" class="close">Close</a>
						</div>
          </nav>
        </div>
        <section id="banner">
          <div class="inner">
            <span class="icon fa-gem"></span>
            <h2>Please Login</h2>
            <form method="post">
              <div class="fields">
                <div class="field">
                  <label for="name">Name</label>
                  <input type="text" name="username" value="{{
                    request.form.username }}" />
                </div>
                
                <div class="field">
                  <label for="password">Password</label>
                  <input type="password" name="password" value="{{
                    request.form.password }}">
                </div>
              </div>
              <ul class="actions" >
                <li><input href="{{ url_for('start_page')}}" type="submit" value="Login" /></li>
              </ul>
            </form>
            
          </div>
        </section>
      


      <script src="{{ url_for('static', filename='assets/js/jquery.min.js') }}"></script>
			<script src="{{ url_for('static', filename='assets/js/jquery.scrollex.min.js') }}"></script>
			<script src="{{ url_for('static', filename='assets/js/browser.min.js') }}"></script>
			<script src="{{ url_for('static', filename='assets/js/breakpoints.min.js') }}"></script>
			<script src="{{ url_for('static', filename='assets/js/util.js') }}"></script>
			<script src="{{ url_for('static', filename='assets/js/main.js') }}"></script>
  </body>
</html>