<html>
	<head>
		<title>Cryptocurrency Price</title>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
		<link rel="stylesheet" href="{{ url_for('static', filename='assets/css/main.css') }}" />
		<noscript><link rel="stylesheet" href="{{ url_for('static', filename='assets/css/noscript.css') }}" /></noscript>
	</head>
	<body class="is-preload">
			<div id="page-wrapper">
					<header id="header">
						<h1>Cryptocurrency</a></h1>
						<nav>
							<a href="#menu">Menu</a>
						</nav>
					</header>
					<nav id="menu">
						<div class="inner">
							<h2>Menu</h2>
							<ul class="links">
								<li><a href="{{ url_for('start_page')}}">Home</a></li>
								<li><a href="{{ url_for('stock')}}">Price</a></li>
								<li><a href="{{ url_for('services')}}">My Account</a></li>
								<li><a href="{{ url_for('login')}}">Log In</a></li>
								<li><a href="#">Sign up</a></li>
							</ul>
							<a href="#" class="close">Close</a>
						</div>
					</nav>

					<section id="wrapper">
						<header>
							<div class="inner">
								<h2>Latest Cryptocurrency Price Check</h2>
								<!-- <p>  .. </p> -->
							</div>
						</header>

					<section id="banner">
						<div class="inner">
							<h2 class="major">Search</h2>
                            <!-- <p>......</p> -->
                                <form action="result" method="post">
                                    <div class="fields">
                                        <div class="field">
                                            <label>Stock Ticker</label>
                                            <input type="text" name="stockSymbol" value="">
                                        </div>
                                        <div class="field">
                                            <label>APIKey</label>
                                            <input type="text" name="APIKey" value="">
                                        </div>
                                    </div>
                                    <ul class="actions">
                                        <li><input type="submit" value="Submit" /></li>
                                    </ul>
                                </form>
						</div>
					</section>

        <script src="{{ url_for('static', filename='assets/js/jquery.min.js') }}"></script>
        <script src="{{ url_for('static', filename='assets/js/jquery.scrollex.min.js') }}"></script>
        <script src="{{ url_for('static', filename='assets/js/browser.min.js') }}"></script>
        <script src="{{ url_for('static', filename='assets/js/breakpoints.min.js') }}"></script>
        <script src="{{ url_for('static', filename='assets/js/util.js') }}"></script>
        <script src="{{ url_for('static', filename='assets/js/main.js') }}"></script>

	</body>
</html>